---
interface Props {
  title: string
  body?: string
  href: string
  width?: string
  height?: string
}

const { title, body, href, width, height } = Astro.props
---

<span>
  <a href={href} draggable="false">
    <h2>{title} →</h2>
    <p>{body}</p>
  </a>
</span>

<style define:vars={{ width, height }}>
  a {
    width: var(--width);
    height: var(--height);
    display: inline-block;
    padding: 1.5rem;
    background-color: var(--ctp-macchiato-base);
    color: var(--ctp-macchiato-text);
    border-radius: 10px;
    user-select: none;
    white-space: nowrap;
    cursor: inherit;

    > * {
      margin: 0;
    }
  }
</style>
