---
interface Props {
  title: string
  body?: string
  href: string
  width?: string
  height?: string
}

const { title, body, href, width, height } = Astro.props
---

<a href={href} draggable="false" class="link-card">
  <h2>{title} →</h2>
  <p>{body}</p>
</a>

<style define:vars={{ width, height }}>
  .link-card {
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-flow: column;
    padding: 1.5rem;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    user-select: none;
    font-weight: normal;

    > * {
      margin: 0;
    }
  }
</style>
