---
interface Props {
  title: string
  body?: string
  href: string
  width?: string
  height?: string
}

const { title, body, href, width, height } = Astro.props
---

<a href={href} draggable="false" class="link-card">
  <h2>{title} →</h2>
  <p>{body}</p>
</a>

<style define:vars={{ width, height }}>
  .link-card {
    width: var(--width);
    height: var(--height);
    display: block;
    padding: 1.5rem;
    background-color: var(--ctp-macchiato-base);
    color: var(--ctp-macchiato-text);
    border-radius: 10px;
    user-select: none;

    > * {
      margin: 0;
    }
  }
</style>
