main {
  margin: 0 auto;
  padding: 5rem;

  @container style(--is-mobile: true) {
    padding: 2rem;
  }

  /* for gfm renderer */
  > div {
    > h1, h2, h3, h4, h5, h6 {
      > a > svg {
        display: none;
      }

      &:hover {
        position: relative;
        left: -16px;

        > a > svg {
          display: inline-block;
        }
      }
    }
  }
}

li {
  list-style: none;
}

p, ul {
  margin: 0.5rem 0;
}
