@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css'); /* https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap');

:root {
  --is-mobile: false;
  @media (max-width: 600px) {
    --is-mobile: true;
  }
}

html {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--ctp-latte-base);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--ctp-latte-text);

  a {
    color: var(--ctp-latte-blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    font-family: 'Source Code Pro';
    background-color: rgb(var(--ctp-latte-surface2-rgb) / 0.4);
    border-radius: 0.25rem;
    padding: 0 0.25rem;
  }

  strong {
    font-weight: 600;
  }
}
