@layer reset, base, tokens, recipes, utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap");

:root {
  --is-mobile: false;
  @media (max-width: 600px) {
    --is-mobile: true;
  }
}

@layer base {
  html {
    font-family: "Inter", "Zen Kaku Gothic New", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  body {
    background-color: var(--colors-base);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: var(--colors-text);

    * {
      margin: 0;
    }

    a {
      color: var(--colors-sapphire);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    code {
      font-family: "Source Code Pro";
      background-color: var(--colors-mantle);
      border-radius: 0.25rem;
      padding: 0 0.25rem;
    }

    strong {
      font-weight: 600;
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
}
