---
interface Props {
  pageTitle: string
}

const { pageTitle }: Props = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @import url('@catppuccin/palette/css/catppuccin.css'); /* https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=auto');
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=auto');

  html {
    font-family: 'Inter';
    font-optical-sizing: auto;
    font-style: normal;
  }

  body {
    background-color: var(--ctp-latte-base);
    margin: 0 auto;
    padding: 5rem;
    line-height: 1.5;
    color: var(--ctp-latte-text);

    a {
      color: var(--ctp-latte-blue);
      text-decoration: none;
      font-weight: 600;
    }

    code {
      font-family: 'Source Code Pro';
      background-color: rgb(var(--ctp-latte-surface2-rgb) / 0.4);
      border-radius: 0.25rem;
      padding: 0 0.25rem;
    }
  }
</style>
